{% extends 'base.html.twig' %}

{% form_theme formArticles 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un article</h1>

    {{ form_start(formArticles) }}

    <div class ="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArticles.titre) }}
    </div>

    <div class ="form-group">
        <label for="">Catégorie</label>
        {{ form_widget(formArticles.categorie) }}
    </div>

    <div class ="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArticles.contenu) }}
    </div>

    <div class ="form-group">
        <label for="">Image</label>
        {{ form_widget(formArticles.image) }}
    </div>

    <div class ="form-group">
        <label for="">Extrait de contenu</label>
        {{ form_widget(formArticles.extraitContenu) }}
    </div>

    <button type="submit" class="btn btn-success">
    {% if editMode %}
        Enregistrer les modifications
    {% else %}
        Ajouter l'article
    {% endif %}
    </button>

    {{ form_end(formArticles) }}




{% endblock %}