{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name}}!{% endblock %}

{% block body %}

<h1> Liste des articles :</h1>

<section class="articles">

    {% for article in articles %}

        <article>
        <br>
            <h2>{{ article.titre }}</h2>
            <div class="metadata">Ecrit le {{ article.dateCreation | date ('d/m/Y') }} à {{ article.dateCreation | date ('H:i') }}</div>
            <div class"content">
                <img src="{{ article.image }}" alt="">
                {{ article.extraitContenu | raw}}
                <a href="{{ path('tp_show', {'id' : article.id}) }}" class="btn btn-primary"> Consulter l'article</a>
            </div>
            <br>
        </article>

    {% endfor %}

</section>

{% endblock %}
