{% extends 'base.html.twig' %}

{% block body %}
        <article>
            <h2>{{ article.titre }}</h2>
            <div class="metadata">Ecrit le {{ article.dateCreation | date ('d/m/Y') }} à {{ article.dateCreation | date ('H:i') }}</div>
            <div class"content">
                <img src="{{ article.image }}" alt="">
                {{ article.contenu | raw}}
            </div>
        </article>
{% endblock %}